<h1>Listing relacions</h1>

<table>
  <tr>
    <th>Persona</th>
    <th>Institucion</th>
    <th>Tipo vinculo</th>
    <th>Nombre</th>
    <th>Year</th>
    <th>Gradoseccion</th>
    <th>Email</th>
    <th>Telefono</th>
  </tr>


</table>

<br />

<%= link_to 'New relacion', new_relacion_path %>
